/Programação I/Exercícios/ExercícioPedido/nbproject/private/
/Programação I/Exercícios/ExercícioCarro/nbproject/private/
/Programação I/Exercícios/ExercícioPedido/build/
/Programação I/Exercícios/ExercícioPedido/nbproject/private/
/Programação I/Exercícios/ListaDeRevisão/nbproject/private/
/Programação I/Exercícios/ListaDeRevisão/build/
/Programação I/Exercícios/ListaDeRevisãoEx10/nbproject/private/
/Programação I/Exercícios/ListaDeRevisãoEx10/build/
/Programação I/Exercícios/ExercícioPedido (cópia)/nbproject/private/
/Programação I/Exercícios/ExercícioCartao/nbproject/private/
/Programação I/Exercícios/poo-ex-cartao-master/nbproject/private/
/Programação I/Exercícios/poo-ex-cartao-master/build/
/Programação I/Exercícios/ExercícioCartas/nbproject/private/
/Programação I/Exercícios/ExercícioCartas/build/
/Programação I/Exercícios/ExpressaoLambda/nbproject/private/
/Programação I/Exercícios/ExpressaoLambda/build/
/Programação I/Exercícios/ExercicioJanela/nbproject/private/
/Programação I/Exercícios/ExercicioJanela/build/
/Programação I/Exercícios/ExercícioAltaOrdem/nbproject/private/
/Programação I/Exercícios/ExercícioAltaOrdem/build/
/Programação I/Exercícios/ControleDeNotas/nbproject/private/
/Programação I/Exercícios/ControleDeNotas/build/
/Programação I/Exercícios/ControleDeNotas/dist/
Programação II/lab/node_modules/

Grafos/grafo/main
Semestre 4/Programação II/Integrador/backend/node_modules/
Semestre 4/Programação II/Integrador/frontend/node_modules/
Semestre 4/Projeto integrador/Aplicação/backend/node_modules/
Semestre 4/Projeto integrador/Aplicação/frontend/node_modules/
Semestre 5/Sistemas Operacionais/threads
Semestre 5/Sistemas Operacionais/receptor
Semestre 5/Sistemas Operacionais/emissor
Semestre 5/Sistemas Operacionais/main
*.pyc
Semestre 7/Inteligência Artificial/RedesNeurais/.idea/inspectionProfiles/profiles_settings.xml
Semestre 7/Inteligência Artificial/RedesNeurais/.idea/misc.xml
Semestre 7/Inteligência Artificial/RedesNeurais/.idea/modules.xml
Semestre 7/Inteligência Artificial/RedesNeurais/.idea/RedesNeurais.iml
Semestre 7/Inteligência Artificial/RedesNeurais/.idea/vcs.xml
*.pyc
