h1, h2 {
    color: rgb(0, 0, 0);
}

body {
    background-color: #00693E;
}

table {
    background-color: #008f45;
}

.center {
    width: 50%;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.tabela {
    background-color: white;
    font-style:italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.imagem {
    text-align: center;
}

.conteudo {
    width: 85%;
    margin: auto;
    text-align: center;
    justify-content: center;
}